{% extends "layout.html" %}
{% block login %}
<br><br>
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Be the change <br />
              <span class="text-primary">mend the minds</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
                As a professional, it is your responsibility to 
                mend and aid the disturbed the disturbed minds. 
                Please share your vailuable opinions in our platform.
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form action = '/login/user/authinticate' method = 'POST'>
                  <!-- 2 column grid layout with text inputs for the first and last names
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1" class="form-control" />
                        <label class="form-label" for="form3Example1">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example2" class="form-control" />
                        <label class="form-label" for="form3Example2">Last name</label>
                      </div>
                    </div>
                  </div> -->
  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input name = 'userEmail' type="email" id="userEmail" class="form-control" />
                    <label class="form-label" for="userEmail">Email address</label>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input name = 'userPass' type="password" id="userPass" class="form-control" />
                    <label class="form-label" for="userPass">Password</label>
                  </div>

                  <input name = 'manType' type="hidden" id = 'manType' value = "prof">
  

  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Log in
                  </button>
  

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
{% endblock %}